.aos-settings-tab .tab-header {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 0.5em;
	margin-bottom: 2em;
	gap: 0.5em;
	box-shadow: 0 2px 2px -2px var(--color-base-60);
}

.aos-settings-tab .tab-header button span {
	padding-left: 0.5em;
}

.aos-settings-tab .setting-item .setting-item-info {
	min-width: 100px;
}

.aos-wide-input {
	width: 250px;
}

/* Team settings */
